p {
  font-style: bold;
  font-size: medium;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: black;
  color: white;

}

h1,
li,
ul {
  display: inline;
}

ul {
  margin-left: 70%;
}

input {
  width: 60%;
  padding: 25px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20%;
  margin-bottom: 5%;
}

.box {

  margin: 10px;
  padding: 10px;
  display: inline-block;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 220px;

}

.products {
  text-align: center;
}

.box:hover {
  background-color: darkseagreen;
}

.about {
  text-align: center;
}

.Contact {
  background-color: black;
  color: white;
}